<!-- footer area start -->
<footer class="footer-widget-area">
    <div class="footer-top section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="widget-title">
                            <div class="widget-logo">
                                <a href="https://pnj.com.vn/">
                                    <img src="@Url.Content("~/Images/logo/logo.png")" width="80%" alt="brand logo">
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <p>We are a team of designers and developers that create amazing products</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <h6 class="widget-title">Contact Us</h6>
                        <div class="widget-body">
                            <address class="contact-block">
                                <ul>
                                    <li><i class="pe-7s-home"></i> 4710-4890, Binh Tan Distric, VN</li>
                                    <li><i class="pe-7s-mail"></i> <a href="mailto:eternityloves.studio@gmail.com">eternityloves.studio@gmail.com </a></li>
                                    <li><i class="pe-7s-call"></i> <a href="tel:(+84)123456789">(+84)123456789</a></li>
                                </ul>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <h6 class="widget-title">Information</h6>
                        <div class="widget-body">
                            <ul class="info-list">
                                <li><a href="/about">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Private Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="/contact">Contact us</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <h6 class="widget-title">Follow Us</h6>
                        <div class="widget-body social-link">
                            <a href="https://www.facebook.com/EternityLoves.Team"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://github.com/Eternity-Loves"><i class="fa-brands fa-github"></i></a>
                            <a href="@Url.Content("https://www.youtube.com/@eternityloves")"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-20">
                <div class="col-md-6">
                    <div class="newsletter-wrapper">
                        <h6 class="widget-title-text">Signup for newsletter</h6>
                        <form class="newsletter-inner" id="mc-form">
                            <input type="email" class="news-field" id="mc-email" autocomplete="off" placeholder="Enter your email address">
                            <button class="news-btn" id="mc-submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-payment">
                        <img src="@Url.Content("~/Images/payment.png")" alt="payment method">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-text text-center">
                        <p>&copy; @DateTime.Now.Year - Made with <i class="fa fa-heart text-danger"></i> by <a href="https://github.com/kiyoshikuncool"><b>Kiyoshi Kun</b></a> & <a href="https://github.com/LinhLinhCute"><b>LinhLinhCute</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->